.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 75px;
  background-color: #000000;
}

.linkWrapper {
  display: flex;
  align-items: center;
}

.linkWrapper .link {
}

.nav {
}
